<h1>Eat da Burger</h1>

{{!-- <h3>Show the burgers ready to be devoured and those that already have been</h3> --}}

    <div class="wrapper">
        <div id="leftDiv">Burgers not ate
          <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                <p>{{this.id}} {{this.burger_name}} <span>
                  <button class="devour-burger" data-id="{{this.id}}">Devour It!</button>
                </span></p>
              </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
        <div id="rightDiv">Burgers Ate
          <ul>
            {{#each burgers}}
            {{#if this.devoured}}
              <li>
                <p>{{this.id}} {{this.burger_name}} <span>
                  <button class="delete-burger" data-id="{{this.id}}">Delete</button>
                </span></p>
              </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
    </div>
    <br> 
    <br>
    {{!-- <hr> --}}
    <div class="clearfix" >
      <form class="create-burger">
        {{!-- <div class="form-group"> --}}
          {{!-- <label for="ca">Cat Name:</label> --}}
          {{!-- <input type="text" id="bgr" name="name"> --}}
        {{!-- </div>
        <form action="/" method="POST"> --}}
          <input type="text" id="bgr" name="name" rows="2" cols="25"></input> 
          <button type="submit">Submit</button>
          <p>Add New Burgs</p>

      </form>
    </div>